server {
    listen 80;
    server_name seudominio.com.br www.seudominio.com.br;

    client_max_body_size 20M;

    location /static/ {
        alias /var/www/siafi_eventos_django/staticfiles/;
    }

    location /media/ {
        alias /var/www/siafi_eventos_django/media/;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://unix:/run/siafi_eventos.sock;
    }
}
